:root{
    --negro: rgb(0, 0, 0);
    --blanco: rgb(255, 255, 255);
    --vino: rgb(170, 25, 75);
    --naranja_primario: rgb(255, 144, 0);
    --naranja_secundario: rgb(255, 96, 0);
    --amarillo: rgb(246, 178, 0);
}

/* Globales*/
    /* Normalización de 1 rem = 10px*/
    html{
        font-size: 62.5%;
    }
img{
    max-width: 100%;
}
.fondo-body{
    background-image: url(../img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Fuentes */
.titulo{
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
}
.titulo-usuario{
    font-family: 'Satisfy', cursive;
    font-size: 1.6rem;
}
.titulo-4{
    font-family: 'Satisfy', cursive;
    font-size: 4rem;
}
.titulo-3{
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
}
.body{
    font-family: 'Mukta', sans-serif;
}
.FW-900{
    font-size: 1.4rem;
    font-weight: 900;
}
.FS-2rem{
    font-size: 2rem;
}
.FS-1-4rem{
    font-size: 1.6rem;
}
.text-orange{
    text-decoration: none;
    color: var(--naranja_primario);
}
.link-orange{
    text-decoration: none;
    color: var(--naranja_primario);
}
.link-orange:hover{
    color: var(--blanco);
}
.link-blanco{
    color: var(--blanco);
    text-decoration: none;
}
.link-blanco:hover{
    color: var(--naranja_secundario);
}
.link-amarillo{
    color: var(--amarillo);
    text-decoration: none;
}
.link-amarillo:hover{
    color: var(--blanco);
}
.texto-naranja-secundario{
    color: var(--naranja_secundario);
}
.precio{
    color: var(--vino);
    font-size: 3rem;
    font-weight: 600;
}
.precio-naranja-secundario{
    color: var(--naranja_secundario);
    font-size: 3rem;
    font-weight: 600;
}
.precio-naranja-primario{
    color: var(--naranja_primario);
    font-size: 3rem;
    font-weight: 600;
}
.precio-blanco{
    color: var(--blanco);
    font-size: 3rem;
    font-weight: 600;
}
.precio-negro{
    color: var(--negro);
    font-size: 3rem;
    font-weight: 600;
}
.precio-amarillo{
    color: var(--amarillo);
    font-size: 3rem;
    font-weight: 600;
}
.negrita{
    font-weight: 700;
}
.texto-blanco{
    text-decoration: none;
    color: var(--blanco);
}
.texto-white{
    text-decoration: none;
    color: var(--blanco);
}
.texto-blanco:hover{
    color: var(--naranja_primario);
}
.texto-amarillo{
    color: var(--amarillo);
    text-decoration: none;
}
.texto-amarillo:hover{
    color: var(--naranja_primario);
}
.text-yellow{
    color: var(--amarillo);
    text-decoration: none;
}   

/* Contenedores */

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
.contenedor_formulario{
    margin: 1rem auto;
    width: 120rem;
    height: 76rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main{
    background-color: rgb(255, 255, 255);
    margin-top: 1rem;
    box-shadow: gray 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    height: 58rem;
}
.seccion-nosotros{
    width: 40%;
    margin: 1rem 1rem;
    background-color: var(--naranja_primario);
    padding: 1.5rem;
    box-shadow: gray 1rem 1rem 1rem 1rem;
}
.seccion-nosotros img, .seccion-servicio img{
    margin-bottom: 2rem;
    border: solid 0.1rem white;
}
.seccion-servicio img{
    margin-right: 1rem;
}
.seccion-nosotros h3, .seccion-servicio h3{
    font-size: 2rem;
    text-align: center;
}
.seccion-servicios{
    margin: 1rem 1rem 2rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.seccion-servicio{
    height: calc(58rem/3 - 2rem);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: gray 1rem 1rem 1rem 1rem;
}
.seccion-servicio-cuerpo{
    display: flex;
    justify-content: space-between;
}
.reservaciones{
    background-color: var(--blanco);
    box-shadow: black 1rem 1rem 3rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 3rem;
    border-radius: 2rem;
    height: auto;
}
.reservaciones h3{
    background-color: rgba(255, 98, 0, 0.762);
    color: var(--blanco);
    
}
.anuncio{
    font-size: 3rem;
    text-align: center;
    background-color: var(--amarillo);
    height: 4rem;
    width: 100%;
    font-weight: 700;
    margin-top: 0.1rem;
}
.habitaciones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.seccion-habitaciones{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--vino);
    box-shadow: var(--vino) 1rem 1rem 5rem 0.1rem;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1.4rem;
}
.habitacion{
    padding: 2rem 2rem;
    color: var(--negro);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50rem;
    height: 25rem;
    margin: 1rem 1rem;
    box-shadow: var(--negro) 0.5rem 1rem 2rem 0.1rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.693);
}
.resume{
    font-size: 1.6rem;
    background: none;
    border: none;
    text-align: center;
    margin-top: 0.5rem;
    pointer-events: none;
}
.seccion-habitaciones img{
    width: 50rem;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 5rem;
    box-shadow: var(--negro) 0.5rem 1rem 2rem 0.1rem;
}
/* Navegacion */
.navegacion{
    background-color: black;
    font-size: 1.4rem;        
    margin-bottom: none;
}
.banner{
    width: 100%;
    height: 53.3rem;
    background-image: url(../img/perritos.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2.5rem;
}
.rango-usuario{
    text-align: center;
}
.nav-derecha{
    align-items: center;
    text-align: center;
}
.nav-derecha div p{
    margin: 0;
}
.logo{
    width: 15rem;
}
.sesion div{
    margin: 0.2rem 0.2rem;
}
.sesion a:hover{
    color:white;
}
#inicio-link:hover{
    color: var(--blanco);
}
.boton{
    border:none;
    width: 30rem;
    padding: 1rem;
    font-size: 2rem;
    margin: 0 auto;
}
.boton-small{
    border:none;
    width: 15rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin: 0 auto;
}
.boton-naranja{
    background-color: var(--naranja_primario);
    color:white;
}
.boton-naranja:hover{
    background-color: var(--blanco);
    color: var(--naranja_primario);
}
.footer{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.footer-redes, .footer-contacto{
    display: flex;
    justify-content: space-between;
}
.footer-redes ul, .footer-contacto ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-redes ul li, .footer-contacto ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.footer-redes ul li img, .footer-contacto ul li img{
    width: 5rem;
}
.footer-redes ul li p, .footer-contacto ul li p{
    text-align: center;
    width: 10rem;
}

/* Fondos */
.fondo-naranja{
    background-color: var(--naranja_primario);
}
.fondo-naranja-secundario{
    background-color: var(--naranja_secundario);
}
.fondo-vino{
    background-color: var(--vino);
}
.fondo-negro{
    background-color: black;
}
.texto-vino{
    color: var(--vino);
}
.fondo-blanco{
    background-color: var(--blanco);
}

/* Register */
.form-registro{
    background-color: rgba(19, 18, 18, 0.493);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;  
    font-size: 1.6rem;
    width: 113rem;
    height: 70rem;
}
.form-registro img{
    margin: 0 auto;
}
.form-registro hr{
    color: white;
}
.form-registro input,label{
    width: 30rem;
    height: 4rem;
}
#cuerpo-form-registro, #cuerpo-form-registro input{
    text-align: center;
    display: flex;
    margin: 0 auto;
}
#btn_submit-register{
    margin-left: 45rem;
}
.form-nombreUsuario{
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
}
.form-nombreUsuario input,label{
    width: 30rem;
    height: 4rem;
    text-align: center;
}
/* Login */
.form-login{
    background-color: rgba(19, 18, 18, 0.493);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;  
    font-size: 1.8rem;
    color: white;
    text-align: center;
}
.form-login img{
    width: 25rem;
    margin: 0 auto;
}
.form-login input,label{
    margin: 1rem auto;
    width: 60rem;
    height: 5rem;
    text-align: center;
}

/* Servicios */
.contenedor-servicios{
    background-color: var(--vino);
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--negro) 1rem 1rem 2rem 0.5rem;
}
.contenedor-servicios hr{
    color: var(--negro);
    height: 0.5rem;
}
.servicios{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}
.servicio{
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.605);
    box-shadow: var(--negro) 1rem 0.3rem 2rem 0.3rem;
}
.servicio img{
    border-radius: 1rem;
}
.resume-servicio{
    font-size: 1.6rem;
    background: none;
    border: none;
    text-align: center;
    margin-top: 0.5rem;
    pointer-events: none;
    resize: none;
}
/* Premium */
.contenedor-premium{
    padding: 3rem;
}
.layout-premium{
    display: flex;
    justify-content: center;
    background-color: var(--blanco);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--negro) 1rem 1rem 1rem 1rem;
}
.cuerpo-premium{
    background-color: var(--negro);
    padding: 2rem;
    width: 75%;
    margin: 0 0.3rem;
    border-radius: 1rem;
    border: dashed var(--naranja_primario) 0.3rem;
}
.beneficios-premium{
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgb(0, 0, 0);
    width: 25%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    border: dashed var(--naranja_primario) 0.3rem;
}
.plan-premium{
    background-color: blue;
}
.servicio-premium{
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(255, 98, 0, 0.597);
    box-shadow: var(--negro) 1rem 0.3rem 2rem 0.3rem;
}
.collage-premium{
    background-image: url(../img/marco_premium.png);
    background-position: center center;
    background-size: cover;
    width: 110rem;
    height: 50rem;
    margin: 0 auto;
    padding: 10rem;
}
<<<<<<< HEAD

/* Editar Perfil Usuario*/
#foto-perfil{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}
.contenedor-perfil{
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 5rem;
    border: var(--amarillo) solid 0.5rem;
    box-shadow: var(--negro) 1rem 1rem 1rem 1rem;
}
.contenedor-perfil form label{
    width: 15rem;
    color: var(--blanco);
    font-size: 1.6rem;
}
.contenedor-perfil form input[type=text]{
    margin: none;
    border: 0;
    width: 25rem;
    height: 3.5rem;
    outline: none;
    font-size: 1.8rem;
    padding: 1rem;
    color: gray;
    border-radius: 1rem;
    text-align: center;
}
.inputfile{
    width: 1rem;
	height: 1rem;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: var(--naranja_secundario);
    display: inline-block;
    padding: 1rem;
}
.inputfile:focus + label,
.inputfile + label:hover {
    background-color: white;
    color: var(--naranja_secundario);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/* Comunidad */
.publicar{
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    border: black solid 0.1rem;
    background-color: rgb(46, 42, 42);

}
.publicar textarea{
    border-radius: 1rem;
    width: 60%;
    border: solid 0.1rem gray;
    resize: none;
    font-size: 1.6rem;
    padding: 2rem;
    background-color: rgba(77, 70, 70, 0.5);
    color:white;
}
.contenedor-comunidad{
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.734);
    margin: 1rem auto;
    padding: 5rem;
}
.contenedor-publicaciones{
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    border: black solid 0.1rem;
    background-color: rgb(46, 42, 42);    
}
.publicacion{
    border-radius: 1rem;
    width: 60%;
    border: solid 0.1rem gray;
    font-size: 1.6rem;
    padding: 2rem;
    background-color: rgba(77, 70, 70, 0.5);
    color:white;
    margin: 0rem auto 2rem auto;
}
.descripcion-image{
    border-radius: 1rem;
    width: 100%;
    height: auto;
    border: none;
    pointer-events: none;
    resize: none;
    font-size: 1.6rem;
    padding: 2rem;
    background-color: rgba(77, 70, 70, 0.5);
    color:white;
}

.nuevo-comentario{
    border-radius: 1rem;
    width: 100%;
    height: 15rem;
    border: none;
    resize: none;
    font-size: 1.6rem;
    padding: 2rem;
    background-color: rgba(77, 70, 70, 0.5);
    color:white;
}

.data-user{
    display: flex;
    align-content: center;
    align-items: center;
}
.data-user img{
    border-radius: 3rem;
    margin-right: 2rem;
}
.data-user p{
    font-weight: 600;
    width: 50rem;
    text-align: left;
}
.fecha-publicacion{
    font-weight: 400;
    font-size: 1.6rem;
    color: gray;
    float: left;
    margin-left: 8rem;
}
.likes, .likes img{
    width: 4rem;
    position: abosolute;
}
.btn-comentarios{
    margin-top: 2rem;
}
.text-comentarios{
    margin-top: 2rem;
    margin-bottom: 0;
}
.exit-icon{
    float: right;
}
.comentarios-seccion{
    display: flex;
    flex-direction: column;
}
.contenedor-comentario{
    background-color: rgb(33, 31, 31);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    color: gray
}
.comment-margin{
    margin: 0;
    text-align: center;
    width: 20rem;
}
.comentario{
    border-radius: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
    border: none;
    pointer-events: none;
    resize: none;
    font-size: 1.6rem;
    background-color: rgba(77, 70, 70, 0.5);
    color: rgb(151, 145, 145);
}
=======
>>>>>>> parent of 172b006 (avances foro)
/* Responsive Web Desing */
    /* Celulares */
        @media (min-width: 300px){
        }

    /* Tablets */
        @media (min-width: 768px){
        }

    /* PC */
        @media (min-width: 1024px){
        }